@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Poppins;
}

/* common properties */

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    flex-direction: row;
    flex-wrap: wrap;
}

.background {
    background-color: #F8F8F8;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.y-center {
    align-items: center;
}

.x-center {
    justify-content: center;
}

.justify-space-btw {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

.cursor {
    cursor: pointer;
}

.bold {
    transition: color 150ms linear;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.scale {
    transition: scale 150ms linear;
}

.align-start {
    align-items: flex-start;
}

/* logo */

.logo {
    gap: 25px;
}

/* nav */

.nav-padding {
    padding-top: 17px;
    padding-bottom: 18px;
}

.nav-gap1 {
    gap: 63px;
}

.nav-gap2 {
    gap: 25px;
}

.nav-gap3 {
    gap: 63px;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #FFF;
    box-shadow: 0px 4px 35px 0px #00000014;
}

.profile1 {
    max-width: 57px;
}

.search {
    width: 315px;
    height: 43px;
    border-radius: 25.5px;
    border: 1px solid #00000033;
    padding-left: 15px;
    padding-right: 15px;
}

.search::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.search-icon {
    background-color: unset;
    border: 0;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #FFF;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* section 2 */

.background-img {
    background-image: url(/assets/images/png/background-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 477px;
}

.card {
    padding: 39px;
    background-color: #FFF;
    border-radius: 30px;
    transform: translateY(70%);
    box-shadow: 0px 38px 85px -19px #0000001A;
}

.gap-47 {
    gap: 47px;
}

.name {
    margin-bottom: 10px;
}

.info {
    margin-top: 34px;
    width: 357px;
}

.gap-7 {
    gap: 7px;
}

.line {
    height: 49px;
    border: 1px solid #CCCCCC;
}

.profile {
    border-bottom: 1.5px solid #CCCCCC;
    padding-bottom: 52px;
    margin-bottom: 23px;
}

.edit {
    border: 0;
    background-color: #000000;
    color: #FFF;
    border-radius: 25.5px;
    padding: 11px 24px;
    white-space: nowrap;
    right: 38px;
    top: 39px;
    transition: scale 200ms linear;
}

/* section 2 */

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 34px;
    margin-top: 411px;
    padding-bottom: 54px;
}

.gap-17 {
    gap: 17px;
}

.gap-35 {
    gap: 35px;
}

.icons {
    padding-left: 26px;
    padding-right: 21px;
    bottom: 18px;
}

.edit:hover {
    scale: 1.025;
}

.scale:hover {
    scale: 1.025;
}

.modal {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.modal.open {
    display: block;
}

.modal-content {
    padding: 32px;
    background-color: #FFF;
    max-width: 1296px;
    height: 716px;
    margin: auto;
}

.modal-img {
    margin-right: 26px;
    max-width: 687px;
    max-height: 687px;
}

.comments {
    margin-top: 17px;
}

.comment-area {
    padding: 19px 30px 26px 27px;
    background-color: #FAFAFA;
    overflow: hidden;
}

.parent2 {
    display: grid;
    grid-row-gap: 21px;
    margin-top: 17px;
    height: 90%;
    overflow-y: auto;
}

.comment-box {
    padding: 12px 17px;
    background-color: #FFF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 5px 10px 0px #0000000D;
}

.mb-10 {
    margin-bottom: 10px;
}

.gap-14 {
    gap: 14px;
}

/* The Close Button */
.close {
    border: 0;
    width: 20px;
    height: 20px;
    background-color: #FFF;
    right: 1%;
    top: 1.5%;
}

.close:hover,
.close:focus {
    cursor: pointer;
}

/* media query */

@media (max-width:1025px) {
    .logo-icon {
        width: 50px;
    }

    .profile1 {
        max-width: 54px;
    }

    .svg-size {
        width: 18px;
    }

    .gap-20 {
        gap: 20px;
    }

    .gap-10 {
        gap: 10px;
    }

    .card {
        transform: translateY(60%);
    }

    .parent {
        margin-top: 380px;
    }
}

@media (max-width:941px) {
    .search {
        display: none;
    }

    .card {
        transform: translateY(50%);
    }

    .parent {
        margin-top: 325px;
    }
}

@media (max-width:865px) {
    .svg-size {
        width: 15px;
    }

    .profile {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 25px;
    }

    .parent {
        grid-column-gap: 18px;
        grid-row-gap: 22px;
    }
}

@media (max-width:769px) {
    .logo-icon {
        width: 45px;
    }

    .info {
        width: 290px;
    }

    .svg-size {
        width: 11px;
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

}

@media (max-width:689px) {
    .edit {
        right: 32px;
        top: 33px;
    }

    .flex-md-column {
        flex-direction: column;
    }

    .profile-content {
        display: flex;
        align-items: center;
    }

    .card {
        transform: translateY(40%);
    }

    .parent {
        margin-top: 470px;
    }

    .profile1 {
        max-width: 45px;
    }

    .toggle-switch {
        width: 46px;
        height: 25px;
    }

    input:checked+.slider:before {
        transform: translateX(21.5px);
    }

    .slider:before {
        width: 18px;
        height: 18px;
    }
}

@media (max-width:583px) {
    .menu-list {
        flex-direction: column;
        background-color: #000000;
        justify-content: center;
        opacity: 95%;
        width: 70%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 1;
        transition: left 300ms linear;
    }

    .menu-content {
        color: #FFF;
    }

    .flex-md-row-reverse {
        flex-direction: row-reverse;
    }

    .menu-icon {
        width: 40px;
        height: 35px;
        border: 0;
        background-color: unset;
        z-index: 2;
    }

    .nav-gap3 {
        gap: 20px;
    }

    .menu-icon span {
        width: 100%;
        height: 4px;
        background-color: #000000;
        transition: background-color 150ms linear;
    }

    .menu-icon span:first-child {
        width: 50%;
        float: right;
    }

    .menu-icon span:last-child {
        width: 50%;
    }

    .menu-list.show {
        left: 0;
    }

    .activeNavBar .menu-icon span {
        background-color: #FFFFFF;
    }

    .toggle-switch {
        width: 46px;
        height: 24px;
    }

    input:checked+.slider:before {
        transform: translateX(23.5px);
    }

    .slider:before {
        width: 16px;
        height: 16px;
    }
}

@media (max-width:542px) {
    .card {
        transform: translateY(30%);
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        margin-top: 440px;
    }
}

@media (max-width:457px) {
    .parent {
        margin-top: 475px;
    }

    .edit {
        top: 18px;
        right: 16px;
    }
}

@media (max-width:426px) {

    .logo-icon {
        display: none;
    }

    .menu-icon {
        width: 35px;
        height: 30px;
    }

    .parent {
        margin-top: 420px;
    }

    .info {
        width: 218px;
    }

    .edit {
        padding: 8px 21px;
    }

    .toggle-switch {
        width: 42px;
        height: 23px;
    }

    input:checked+.slider:before {
        transform: translateX(19px);
    }

    .slider:before {
        width: 17px;
        height: 17px;
    }
}

@media (max-width:321px) {
    .logo-icon {
        width: 40px;
    }

    .menu-icon {
        width: 30px;
        height: 25px;
    }

    .logo {
        gap: 15px;
    }

    .profile1 {
        max-width: 40px;
    }

    .big-profile {
        width: 210px;
    }
}

@media (min-width:941px) {
    .search-icon {
        display: none;
    }
}

@media (min-width:583px) {
    .menu-icon {
        display: none;
    }
}

/* dark mode */

body.dark-mode {
    background-color: #000000ed;
}

body {
    transition: background-color 100ms linear;
}

nav.dark-mode {
    background-color: #000000;
}

nav {
    transition: background-color 100ms linear;
}

nav.dark-mode .menu-icon span {
    background-color: #FFF;
}

.logo.dark-mode {
    color: #FFF !important;
}

.logo {
    transition: color 100ms linear;
}

.menu-content.dark-mode {
    color: #FFF;
}

.menu-content {
    transition: color 100ms linear;
}

.search.dark-mode {
    background-color: #3b3b3b;
}

.search {
    transition: background-color 100ms linear;
}

.search.dark-mode::placeholder {
    color: #FFF;
}

.search::placeholder {
    transition: color 100ms linear;
}

.search-icon.dark-mode svg path {
    fill: #FFF;
}

.search-icon svg path {
    transition: fill 100ms linear;
}

.card.dark-mode {
    background-color: #000000;
    box-shadow: 0px 1px 30px -3px #f5f4f469;
}

.card {
    transition: all 100ms linear;
}

.card.dark-mode .edit {
    background-color: #3b3b3b;
}

.card.dark-mode .edit:hover {
    scale: 1.025;
    color: #FFF;
}

.edit {
    transition: all 100ms linear;
}

.card.dark-mode .handle {
    color: #FFF !important;
}

.handle,
.info,
p {
    transition: color 100ms linear;
}

.card.dark-mode .info {
    color: #FFF !important;
}

.card.dark-mode p {
    color: #FFF !important;
}